/* svg responsive*/
body{
  height: 0;
  padding-top: 48%;
  position: relative;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:auto;
}

svg g.active text,
svg g.active tspan{
  /*font-weight: bold;*/
  font-size:20px;
}
svg text{
	cursor: default;
}
